#dailyFont {
    font-family: "ConcertOne";
    position: relative;
    font-size: 105px;
    bottom: 75px;
}

#searchBar {
    padding: 10px 20px;
    font-size: 18px;
    position: relative;
    bottom: 130px;
    border: 3px solid #69AEFF;
    border-right: none;
    border-radius: 25px 0 0 25px;
    width: 600px;
    height: 45px;
    background-color: #EDEDED;
    outline: none;
}

input[type="search"]::-ms-clear { /* Removes the automatically added clear button */
  display: none;
}

  ::placeholder {
    position: fixed;
    bottom: 9px;
    font-family: "Voltaire";
    font-size: 18px;
}
    button[type="button"] {
    right: 7px;
    position: relative;
    height: 45px;
    width: 150px;
    bottom: 130px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #69AEFF;
    border: 3px solid #69AEFF;
    border-radius: 0 25px 25px 0;
    }

#searchBar:focus {
    outline: none;
    border: 3px solid #4d9af3;
    box-shadow: 0 0 5px #3694ff;
}

#searchBar:focus + #searchBTN {
    outline: none;
    border: 3px solid #4d9af3;
    box-shadow: 0 0 5px #3694ff; /* Adds a glow effect */
}

.searchBTN-button {
  transition: box-shadow 0.3s ease-in-out;
}

#searchDiv {
    display: none;
    position: relative;
    background-color: white;
    height: 255px;
    width: 595px;
    left: 46%;
    transform: translate(-50%, -50%);
    border: 2px solid lightsteelblue;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

#createTask1 {
    display: block;
    border: 2px solid lightgray;
    border-radius: 18px;
    background-color: #4d9af3;
    color: white;
    position: relative;
    left: 1340px;
    bottom: 290px;
    font-size: 24px;
    height: 37px;
    width: 160px;
}

#createTask1:hover {
    background-color: #3694ff;
}

.btn {
  text-decoration: none; /* remove the underline */
  font-family: "Baloo";
  display: block;
}

.searchResults {
    display: none;
    position: relative;
    width: 570px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    left: 30.5%;
    bottom: 390px;
}

.head {
    font-family: "baloo";
    font-size: 25px;
    position: relative;
    left: 30px;
    text-decoration: none;
    color: black;
}


.desc {
    font-family: "baloo";
    font-size: 20px;
    position: relative;
    bottom: 25px;
    text-decoration: none;
    color: black;
}

#searchA1 {
    text-decoration: none;
    color: black;
}

#searchA2 {
    text-decoration: none;
    color: black;
}