body {
    background-color: lightgray;
    text-align: center;
}

.header {
    border-bottom: 3px solid rgba(107,174,252,255);
    text-align: center;
    position: relative;
    right: 10px;
    bottom: 10px;
    width: 1000px;
    height: 30px;
    background-color: rgb(224, 224, 224);
}

.headFont { 
    bottom: 15px;
    right: 30px;
    position: relative;
    font-size: 35px; 
    }

#dailyFont {
    position: relative;
    font-size: 70px;
    bottom: 45px;
}

.searchBar {
    position: relative;
    bottom: 70px;
    border: 2px solid rgba(151,194,242,255);
    border-radius: 10px;
    width: 420px;
    height: 30px;
}

.footer {
    border-top: 1px solid gray;
    text-align: center;
    position: relative;
    right: 10px;
    top: 85px;
    width: 1000px;
    height: 50px;
    background-color: rgb(224, 224, 224);
}
