@font-face {
    font-family: "ConcertOne";
    src: url(../fonts/ConcertOne-Regular.ttf);
}

@font-face {
    font-family: "Knewave";
    src: url(../fonts/Knewave-Regular.ttf);
}

@font-face {
    font-family: "Voltaire";
    src: url(../fonts/Voltaire-Regular.ttf);
}

@font-face {
    font-family: "Teko";
    src: url(../fonts/Teko-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Baloo";
    src: url(../fonts/BalooBhaijaan2-VariableFont_wght.ttf);
}

body {
    background-color: #D4D4D4;
    text-align: center;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    overflow-x: hidden;
}

.header {
    position: relative;
    border-bottom: 3px solid #69AEFF;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: rgba(234, 234, 234, 1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 1000; /* Ensures it stays on top of other content */
    position: fixed;
    top: 0;
}

.headFont {
    top: 0;
    position: fixed;
    font-family: "Knewave";
    position: relative;
    font-size: 35px; 
    margin: 0;
}

.footer {
    border-top: 1px solid gray;
    text-align: center;
    position: relative;
    top: 550px;
    width: 100%;
    height: 45px;
    background-color: rgba(233, 233, 233, 1);
    display: flex;
    justify-content: center; /* Horizontally center the text */
    align-items: center; /* Vertically center the text */
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.10);
}


.footer_text {
    font-family: 'Baloo Bhaijaan', sans-serif;
    font-size: 28px;
    color: #656565
}

.solid {
    border-top: 3px solid #B1B1B1;
    width: 100%;
    position: relative;
    bottom: 33px;
}

#backBTN {
    display: block;
    border: 2px solid lightgray;
    border-radius: 18px;
    background-color: #4d9af3;
    color: white;
    position: relative;
    font-size: 24px;
    height: 37px;
    width: 160px;
    text-decoration: none; /* remove the underline */
    font-family: "Baloo";
}

#submitBTN {
    display: block;
    border: 2px solid lightgray;
    border-radius: 18px;
    background-color: #4d9af3;
    color: white;
    position: relative;
    font-size: 24px;
    height: 37px;
    width: 160px;
}

.submit {
    text-decoration: none; /* remove the underline */
    font-family: "Baloo";
}

.results {
    display: none;
}

.newTask {
    display: none;
    position: relative;
    font-family: "baloo";
    text-decoration: none;
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-size: 20px;
    height: 40px;
    width: 250px;
    margin-top: 10px;
}

#labelTitle {
    font-family: "baloo";
    font-size: 35px;
    position: relative;
    bottom: 30px;
}

#task_header {
    position: relative;
    font-family: "baloo";
    font-size: 20px;
    border: 3px solid #69AEFF;
    border-radius: 10px;
    background-color: white;
    color: black;
    height: 30px;
    width: 300px;
    bottom: 35px;
}
#task_header:focus {
    outline: none;
    border: 3px solid #4d9af3;
    box-shadow: 0 0 5px #3694ff;
}

#task_header::placeholder {
    position: relative;
    left: 3px;
    top: 1px;
}

#labelDesc {
    font-family: "baloo";
    font-size: 35px;
    position: relative;
    bottom: 30px;
}

#task_description {
    position: relative;
    font-family: "baloo";
    font-size: 20px;
    border: 3px solid #69AEFF;
    border-radius: 10px;
    background-color: white;
    color: black;
    height: 150px;
    width: 300px;
    bottom: 36px;
}

#task_description:focus {
    outline: none;
    border: 3px solid #4d9af3;
    box-shadow: 0 0 5px #3694ff;
}

#task_description::placeholder {
    position: relative;
    top: 1px;
}

#submitBTN {
    height: 41px;
    font-weight: bold;
    position: relative;
    left: 590px;
    bottom: 30px;
}

#backBTN {
    font-weight: bold;
    position: relative;
    left: 760px;
    top: 10px;
}

#backBTN:hover {
    background-color: #69AEFF;
}

#submitBTN:hover {
    background-color: #69AEFF;
}

input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    border-radius: 10px;
    font-family: "baloo";
    font-size: 25px;
    position: relative;
    bottom: 30px;
    background-color: lightgray;
    border: 3px solid #69AEFF;
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .custom-file-upload:hover {
    background-color: #69AEFF;
  }

  #labelPhoto {
    font-family: "baloo";
    font-size: 35px;
    position: relative;
    bottom: 30px;
  }