@font-face {
    font-family: "ConcertOne";
    src: url(../fonts/ConcertOne-Regular.ttf);
}

@font-face {
    font-family: "Knewave";
    src: url(../fonts/Knewave-Regular.ttf);
}

@font-face {
    font-family: "Voltaire";
    src: url(../fonts/Voltaire-Regular.ttf);
}

@font-face {
    font-family: "Teko";
    src: url(../fonts/Teko-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Baloo";
    src: url(../fonts/BalooBhaijaan2-VariableFont_wght.ttf);
}

body {
    background-color: #D4D4D4;
    text-align: center;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    overflow-x: hidden;
}

.header {
    position: relative;
    border-bottom: 3px solid #69AEFF;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: rgba(234, 234, 234, 1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 1000; /* Ensures it stays on top of other content */
    position: fixed;
    top: 0;
}

.headFont {
    top: 0;
    position: fixed;
    font-family: "Knewave";
    position: relative;
    font-size: 35px; 
    margin: 0;
}

.footer {
    border-top: 1px solid gray;
    text-align: center;
    position: relative;
    top: 550px;
    width: 100%;
    height: 45px;
    background-color: rgba(233, 233, 233, 1);
    display: flex;
    justify-content: center; /* Horizontally center the text */
    align-items: center; /* Vertically center the text */
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.10);
}


.footer_text {
    font-family: 'Baloo Bhaijaan', sans-serif;
    font-size: 28px;
    color: #656565
}

.solid {
    border-top: 3px solid #B1B1B1;
}

#backBTN {
    display: block;
    border: 2px solid lightgray;
    border-radius: 18px;
    background-color: #4d9af3;
    color: white;
    position: relative;
    font-size: 24px;
    height: 37px;
    width: 160px;
    text-decoration: none; /* remove the underline */
    font-family: "Baloo";
}

#submitBTN {
    display: block;
    border: 2px solid lightgray;
    border-radius: 18px;
    background-color: #4d9af3;
    color: white;
    position: relative;
    font-size: 24px;
    height: 37px;
    width: 160px;
}

.submit {
    text-decoration: none; /* remove the underline */
    font-family: "Baloo";
}

.results {
    display: none;
}