<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css"/>
    </head>

    <body style="background-color: rgb(171, 2, 171);">
            <div class="headings">
                <h2 style="font-size: 70px; font-family: myFirstFont;">Daily.io</h2>
            </div>
            <div class="myDiv1">
            <input type="search" placeholder="Type the task you want to search." id="search1" style="text-align: center; color: black;"/>
            <button type="button" id="button1">+Add new task</button>
            <div class="big"></div>
            
        <script src="static/js/script.js"></script>   
    </body>
</html>