<!DOCTYPE html>
<html>
    <head>
        <title>Daily.io</title>
        <link rel="stylesheet" href="static/css/index.css">
        <!--some fonts-->
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"> <!--LOGO-->
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="header">
            <p class="headFont">Daily.io</p>
        </div>

        <div class="mainText">
            <h3 style="font-size: 24px; font-family: Voltaire; margin-top:80px">Your solution to a stressful routine</h2>
            <h1 id=dailyFont>Daily.io</h1>
        </div>

<a class="btn" id="createTask1" href="/newtask_form"><b>+ New task</b></a>

        <form action="/search_task" method="post" enctype="multipart/form-data">
            <div>
            <input type="search" placeholder="Search for a task" id="searchBar" oninput="findTask()"/>
            <button type="button" id="searchBTN">Search</button>
            <div id=searchDiv></div>
            </div>
        </form>

        <div class="results">
            
        </div>

        <div class="footer">
            <p class="footer_text">Version 1.1 | 2024</p>
        </div>

        <script src="static/js/index.js"></script>  
    </body>
</html>
