<!DOCTYPE html>
<html>
<head>
<title>HTML, CSS and JavaScript demo</title>
</head>
<body>

<div class="header">
<p class="headFont">Daily.io</p>
</div>
<div class="mainText">
    <h3 style="font-size: 20px">Your solution to a stressful routine</h2>
    <h1 id=dailyFont>Daily.io</h1>
</div>
<form method="post" enctype="multipart/form-data">
    <input type="search" id="searchBar" oninput="findTask()">
    <div id=searchDiv></div>
</form>
<div class="footer">
    <p>Version 1.1 | 2024</p>
</div>

</body>
</html>
