@font-face {
    font-family: "ConcertOne";
    src: url(../fonts/ConcertOne-Regular.ttf)
}

@font-face {
    font-family: "Knewave";
    src: url(../fonts/Knewave-Regular.ttf)
}

@font-face {
    font-family: "Voltaire";
    src: url(../fonts/Voltaire-Regular.ttf);
}

body {
    background-color: #D4D4D4;
    text-align: center;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    overflow-x: hidden;
}

.header {
    position: relative;
    border-bottom: 3px solid #69AEFF;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: #E9E9E9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 1000; /* Ensures it stays on top of other content */
    position: fixed;
    top: 0;
}

.headFont {
    top: 0;
    position: fixed;
    font-family: "Knewave";
    position: relative;
    font-size: 35px; 
    margin: 0;
}

#dailyFont {
    font-family: "ConcertOne";
    position: relative;
    font-size: 105px;
    bottom: 75px;
}

#searchBar {
    position: relative;
    bottom: 90px;
    border: 3px solid #69AEFF;
    border-radius: 10px;
    width: 830px;
    height: 45px;
    background-color: #EDEDED;
}

#searchBar:focus {
    outline: none;
    border: 3px solid #4d9af3;
    box-shadow: 0 0 5px #3694ff; /* Adds a glow effect */
}

.footer {
    border-top: 1px solid gray;
    text-align: center;
    position: relative;
    top: 413px;
    width: 100%;
    height: 45px;
    background-color: #E9E9E9;
    display: flex;
    justify-content: center; /* Horizontally center the text */
    align-items: center; /* Vertically center the text */
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.10);
}


.footer_text {
    font-family: 'Baloo Bhaijaan', sans-serif;
    font-size: 28px;
    color: #656565
}

#searchDiv {
    display: none;
    position: relative;
    background-color: white;
    height: 240px;
    width: 495px;
    left: 695px;
    bottom: 89px;
    border: 2px solid lightsteelblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}