<!DOCTYPE html>
<html>
    <head>
        <title>Daily.io</title>
        <link rel="stylesheet" href="/static/css/taskCreation.css">
        <!--some fonts-->
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"> <!--LOGO-->
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
        <!--metadata-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-language" content="en">
    </head>
    
    <body>
        <div class="header">
            <p class="headFont">Daily.io</p>
        </div>

    <div id="belowDiv">
        <h1 style="font-family: Baloo; margin-top:70px;"><b>Create New Task</b></h1>
        <hr class="solid">
    </div>

    <form action="/create_task" method="post" enctype="multipart/form-data">
        <label for="task_header">Title</label> <br>
        <input type="text" name="task_header" placeholder="Write your task's title" id="task_header"> <br>

        <label for="task_description">Description</label> <br>
        <textarea name="task_description" placeholder="The taks's description" id="task_description"></textarea> <br>

        <input name="task_photo" type="image" accept="image/*" id="task_photo" value="Add photo cover">

        <a href="/" id="backBTN" class="btn"><b>Back</b></a>
        <button type="button" class="submit" id="submitBTN" onclick="getDiv()"><b>Submit</b></button>
    </form>

        <div class="footer">
            <p class="footer_text">Version 1.1 | 2024</p>
        </div>

        <script src="/static/js/taskCreation.js"></script>  
    </body>
</html>
